/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* generate button */
.wrap-gen {
    text-align: center;
}
.btn-gen {
    width: 180px;
    height: 50px;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #00c9b7;
    border-radius: 25px;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    transition: box-shadow 0.5s;
    margin-top: 20px;
    transition: width 1s;
}
.btn-gen:hover {
    box-shadow: none;
}
.fa-rocket {
    margin-right: 5px;
}

label + input[name="orientation"]:checked {
    color: red;
}

@media screen and (max-width: 700px) {
    .btn-gen {
        width: 250px;
    }
}
