.nav-desktop ul {
    display: flex;
}
.nav-list {
    margin: 0 5px;
    position: relative;
    line-height: 40px;
    overflow: hidden;
}
.nav-list::before,
.nav-list::after {
    content: '';
    display: block;
    background-color: #845ec2;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0px;
}

/* 중요한 건 여기서부터!!!! */
:root {
    --greenline-position: -100%;
    --purpleline-position: -200%;
}
.nav-list::before {
    background-color: #845ec2;
    transform: translateX(var(--purpleline-position));
    transition: all 1s;
}

.nav-list::after {
    background-color: #2fffad;
    transform: translateX(var(--greenline-position));
    transition: all 0.5s;
}