.result {
    margin: 40px auto 0;
    width: 500px;
}
.result-tit {
    font-weight: bold;
}
.result-wrap {
    font-size: 14px;
    line-height: 25px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 25px;
    margin: 10px 0 40px;
    border-left: 3px solid #fff;
    border-radius: 5px;
    position: relative;
}

.copy-wrap {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
}
.copy-btn {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    transition: font-size 0.3s;
}
.copy-btn:hover {
    font-size: 24px;
    font-weight: bold;
    background-color: #fff;
}

.copy-notice {
    display: none;
    font-weight: bold;
    color: #000;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -125%);
}
