.logo {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  /* margin: 20px; */
  align-items: center;
}

.logo-img {
  width: 45px;
  height: 45px;
}
.logo-text {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  margin-left: 5px;
}
.logo-text::after {
  content: "Beta";
  color: #fff;
  background-color:rgb(235, 97, 212);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 9px;
  font-weight: bold;
  position: relative;
  left: -10px;
  top: -15px;
}