.logo {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo .logo-img {
  width: 45px;
  height: 45px;
}
.logo .logo-text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-left: 5px;
}
/* .logo-text::after {
  content: "Beta";
  color: #fff;
  background-color:rgb(235, 97, 212);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 9px;
  font-weight: bold;
  position: relative;
  left: -10px;
  top: -15px;
} */
.logo .beta-img {
  width: 41px;
  height: 17px;
  position: absolute;
  left: 140px;
  top: -4px;
}
