.sect-side {
  display: none;
  position: fixed;
  top: 30px;
  right: 15px;
}

.nav-side,
.gen-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-side .nav-side-btn,
.gen-side .gen-side-btn {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #00a1ba;
  border-radius: 50%;
  color: #fff;
}

.nav-side .nav-side-list {
  flex-direction: column;
  color: #fff;
  opacity: 0;
}
.nav-side .nav-side-list.off {
  animation: slide-in-left 1s ease-in-out both;
  transition: all 1s;
}
.nav-side .nav-side-list.on {
  animation: slide-in-right 1s ease-in-out both;
  opacity: 1;
  transition: all 1s;
}

.nav-side .nav-side-list a {
  background: #00a1ba;
  display: block;
  border-radius: 25px;
  margin-top: 10px;
  line-height: 100%;
  padding: 12px;
  text-align: center;
  font-size: 10px;
}

.gen-side {
  position: absolute;
  top: 60px;
  right: 0;
}
.gen-side.off {
  animation: slideup 1s ease-in-out both;
}
.gen-side.on {
  animation: slidedown 1s ease-in-out both;
}
/* 미디어 쿼리 */
@media screen and (max-width: 700px) {
  .sect-side {
    display: block;
  }
}
@media screen and (max-width: 1480px) {
  .sect-side {
    display: none;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes slidedown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(220px);
  }
}
@keyframes slideup {
  0% {
    transform: translateY(220px);
  }
  100% {
    transform: translateY(0px);
  }
}
