.nav-desktop ul {
  display: flex;
  font-size: 14px;
}

.has-badge {
  position: relative;
}
.badge-new {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  background-color: #eb61d4;
  border-radius: 3px;
  position: absolute;
  top: -10px;
  right: 8px;
}

.nav-list {
  display: inline-block;
  margin: 0 8px;
  padding: 10px 0;
  position: relative;
}
.nav-list::after,
.nav-list::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.nav-list::before {
  background-color: #845ec2;
  transition: width 0.4s 0.1s;
}
.nav-list::after {
  background-color: #2fffad;
  transition: width 0.3s;
}
.nav-list:hover::after,
.nav-list:hover::before {
  width: 100%;
  left: 0;
}
.nav-list.active:after {
  width: 100%;
  background-color: #2fffad;
  left: 0;
}
.nav-list.active:before {
  z-index: 10;
}

@media screen and (max-width: 700px) {
  .nav-desktop {
    display: none;
  }
}
