@charset "utf-8";

@font-face {
  font-family: gmarket;
  src: url("../../public/fonts/GmarketSansBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: gmarket;
  src: url("../../public/fonts/GmarketSansMedium.otf");
  font-weight: normal;
}
@font-face {
  font-family: gmarket;
  src: url("../../public/fonts/GmarketSansLight.otf");
  font-weight: lighter;
}
