@import "../../modules/module_nav-bar/module_nav-bar.css";
@import "../../modules/module_colorPicker/module-colorPicker.css";
@import "../../modules/module_generateButton/module-generateButton.css";
@import "../../modules/module_gradient-result/module_gradient-result.css";
@import "../../modules/module_logo/module_logo.css";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@font-face {
    font-family: gmarket;
    src: url(../../public/fonts/GmarketSansBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: gmarket;
    src: url(../../public/fonts/GmarketSansMedium.otf);
    font-weight: normal;
}
@font-face {
    font-family: gmarket;
    src: url(../../public/fonts/GmarketSansLight.otf);
    font-weight: lighter;
}

body {
    min-height: 100vh;
}

#app {
    font-family: gmarket;
    font-weight: normal;
    color: #fff;
}

.notice {
    display: none;
    position: fixed;
    top: 0;
}
.notice strong {
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    margin-bottom: 65px;
}

.main-tit {
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    text-shadow: 2px 3px 0px #898999;
    margin-bottom: 35px;
}

.color-form {
    width: 100%;
}
.form-tit {
    text-align: center;
    margin-bottom: 35px;
    font-weight: bold;
}
.orient-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    flex-wrap: wrap;
}
.orient-wrap .orient {
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

input:checked + .orient {
    outline: 2px solid white;
}

.orient .fa-arrow-up {
    text-align: center;
    vertical-align: -5px;
}
#radio1 + .orient {
    transform: rotateZ(45deg);
}
#radio2 + .orient {
    transform: rotateZ(90deg);
}
#radio3 + .orient {
    transform: rotateZ(135deg);
}
#radio4 + .orient {
    transform: rotateZ(180deg);
}
#radio5 + .orient {
    transform: rotateZ(225deg);
}
#radio6 + .orient {
    transform: rotateZ(270deg);
}
#radio7 + .orient {
    transform: rotateZ(315deg);
}
#radio9 + .orient {
    transform: rotateX(180deg) rotateZ(90deg);
}

.colorpick .tit-colorpick {
    font-weight: bold;
    text-align: center;
}

.link-3gradient {
    display: block;
    width: 130px;
    margin: 20px auto 0;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    opacity: 0.7;
}
.link-3gradient:hover {
    opacity: 1;
}
