@charset "utf-8";

/* utility */

body {
  font-family: gmarket;
  font-weight: normal;
  color: #fff;
}

a {
  text-decoration: none;
}
.vsc-initialized {
  background: linear-gradient(45deg, #7f48d8, #00c96b);
  background-repeat: no-repeat;
}
/* header */
.feature-box {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
}
.feature-box .fix-header {
  font-weight: bold;
  max-width: 1400px;
  margin: 0 auto;
}
.feature-box .fix-header span {
  font-weight: lighter;
}

.bg-default {
  height: 100vh;
  background: linear-gradient(45deg, #00c96b, #7f48d8);
}
.bg-default::after {
  content: "";
  display: inline-block;
  background: url("../img/color-scheme-left.svg");
  background-repeat: no-repeat;
  width: 70%;
  height: 70%;
}
.bg-default .color-get h2 .tit-main {
  letter-spacing: 2px;
  margin: 10px 0;
}
.bg-default .color-get > p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.page-title {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto 50px;
}
.nav-desktop {
  margin: auto 0;
}

/* main */
.color-get h2 {
  width: 70vw;
  margin: 0 auto;
  font-weight: bold;
}
.color-get h2 p {
  margin: 0 auto;
  color: #fff;
  line-height: 1.2;
  text-shadow: 2px 3px gray;
  text-align: center;
}
.color-get h2 .tit-sub {
  font-size: 42px;
  margin-bottom: 50px;
}
.color-get h2 .tit-main {
  font-size: 35px;
}
.color-get p {
  text-align: center;
}
.color-get form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 추천 팔레트 영역 */
.palettes {
  background-color: #fff;
  color: #000;
  padding: 30px 0;
}
.palettes .wrapper-art {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  /* 미디어쿼리 처리해야함 모바일에서만 90%*/
}
.palettes .art-rec {
  padding: 30px;
}
.palettes .art-rec .tit-art {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.palettes .art-rec .box-rec {
  display: flex;
  flex-direction: column;
}
.palettes .art-rec .box-rec-each {
  display: flex;
}
.palettes .art-rec .box-rec-each .color {
  display: block;
  background-color: #845ec2;
  width: 250px;
  height: 80px;
  margin-bottom: 5px;
  border-radius: 7px;
}
.palettes .art-rec .box-rec-each .name {
  margin-left: 20px;
  color: #696969;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 200%;
  min-height: 20px;
}
.bg-bottom {
  background: linear-gradient(45deg, #00c96b, #7f48d8);
}
/* section- about*/
.about {
  display: flex;
  padding: 100px 5%;
}
.about .bt-left,
.about .bt-right {
  width: 50%;
  padding: 0 50px;
}
.about .bt-left h3,
.about .bt-left strong,
.about .bt-left em {
  margin: 0 auto;
  color: #fff;
  line-height: 1.2;
  text-shadow: 2px 3px gray;
  font-weight: bold;
  display: block;
}
.about .bt-left h3 {
  font-size: 38px;
  margin-bottom: 20px;
}
.about .bt-left strong {
  font-size: 26px;
  margin-bottom: 20px;
}
.about .bt-left em {
  font-size: 20px;
  margin-bottom: 20px;
}
.about .bt-left p {
  margin-bottom: 20px;
}
.about .bt-right img {
  max-width: 600px;
}
/* footer */

.footer {
  border-top: 1px solid #aaa;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
}
.footer .nav {
  display: flex;
  align-items: center;
}
.footer .github {
  display: flex;
  /* align-items: center; */
  margin-left: 30px;
}
/* .footer .github li::after{
  display: block;
  content: '';
  width: 15px;
  height: 14px;
  color: #fff;
  position: relative;
  right: 10px;
  z-index: 10;
} */
.footer .github li {
  margin-left: 4px;
  align-items: center;
}
.footer .github li a {
  line-height: 19px;
}
.footer .github li:first-child {
  margin-right: 10px;
}
.footer .sns-link {
  margin-left: 20px;
}
.footer .sns-link a {
  margin: 0 5px;
}

/* palette 페이지 */

/* gradien2 페이지 */

/* gradient3 페이지 */

@media screen and (max-width: 640px) {
  .bg-default .color-get h2 .tit-main {
    font-size: 28px;
  }

  /* 메인페이지 */
  .color-get .tit-sub {
    display: none;
  }
  .color-get .tit-main {
    font-size: 28px;
  }
  .about {
    flex-direction: column;
  }
  .about .bt-left {
    margin-bottom: 50px;
  }
  .about .bt-left,
  .about .bt-right {
    width: 100%;
  }
}
